@import "../../global.scss";

.portfolio {
  background-color: #FDF4E3;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    overflow: hidden;

    @include mobile {
      font-size: 20px;
    }
  }

  .left{
    margin-left: 10vw;
    
    @include mobile {
      margin: 0px;
     }
     @include tablet {
      margin: 0px;
     }
  }

  .right{
    margin-right: 10vw;

    @include mobile {
     margin: 0px;
    }
    @include tablet {
      margin: 0px;
     }
  }
  .item {
    margin-top: 3vh;
    width: 30vw;
    height: 350px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    cursor: pointer;
    transition: 0.35s ease-out;

    @include mobile {
      width: 300px;
      height: 18vh;
      align-items: center;
    }

    @include tablet {
      width: 400px;
      height: 300px;
    }
    
    &:hover {
      background-color: black;
      transition: 0.35s ease-in;

      img {
        opacity: 0;
        z-index: 0;
      }
      h3 {
        color: #FDF4E3;
      }
    }
    a {
      h3 {

        position: absolute;
        margin: 16vh 10vw 0px;

        font-size: 20px;
     
        text-decoration: none;
        color: transparent;

        @include mobile {
          margin: 7vh 9vw 0px;
        }
        @include tablet {
          margin: 15vh 95px 0px;
          text-align: center;
        }
      }

      img {
        width: 30vw;
        height: 350px;
        object-fit: cover;
        z-index: 1;

        @include mobile {
          width: 300px;
          height: 18vh;
          
        }
        @include tablet {
          width: 400px;
          height: 300px;
        }
      }
    }
  }
  .text-container {
    width: 750px;
    max-width: 750px;
    h3 {
      margin: 10px;
      font-size: 25px;
    }
    @include mobile {
      width: 325px;
      max-width: 325px;
    }
  }
}
